.App {
  text-align: center;
  padding: 5% 25% 10% 25%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.tab {
  width: 100px;
  height: 50px;
  font-size: xx-large;
  text-align: center;
}

.tab_selected {
  background-color: black;
  color: white;
}

.tab_notselected {
  background-color: white;
  color: black;
}

.content_box {
  height: 100px;
  text-align: left;
  font-size: large;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
